name: Run Upload CSV to Supabase

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  run-r-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install R packages
        run: |
          Rscript -e "install.packages('dotenv')"
          Rscript -e "install.packages('httr')"
          Rscript -e "install.packages('jsonlite')"
          Rscript -e "install.packages('dplyr')"

      - name: Debug secrets
        run: |
          echo "URL: '$SUPABASE_URL'"
          echo "KEY length: ${#SUPABASE_KEY}"

      - name: Run script
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: Rscript scripts/01-Upload-Auto-CSV-Supabase.R